.cumulativeSummaryPage {
    width: 80%;
    /* margin-top: 2%; */
    margin:0 auto;
}

mat-card {
    background-color: #9ccc9c;
}

.mat-title {
    text-align: center;
}

.cumulativeSummaryTable {
    width: 60%;
    margin: 0 auto;
}

td {
    text-align: center;
}
